.App {
  text-align: center;
}

.App-header {
  background-color: #77c28d;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-main {
  background-color: #002c00;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #632a00;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: inline-block;
  width: 100%;
  >span{
     width: 50%;
     display: inherit;
     margin-top: 5vh;
     cursor: pointer;
  }
}